<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <!-- Login form -->
            <div class="card mt-4 w-50 p-4">
                <div class="card-body">
                    <!-- title -->
                  <h5 class="card-title text-center mb-4">Login</h5>
                  <!-- username field -->
                  <div class="row">
                    <div class="col-3 d-flex text-center">
                        User Name :
                    </div>
                    <div class="col-9">
                       <input type="text" class="form-control" placeholder="Enter username" [(ngModel)]="username">
                    </div>
                  </div>
                  <!-- password field -->
                  <div class="row mt-2">
                    <div class="col-3 d-flex text-center">
                        Password :
                    </div>
                    <div class="col-9">
                       <input type="text" class="form-control" placeholder="Enter password" [(ngModel)]="password">
                    </div>
                  </div>
                  <!-- login button -->
                  <div class="row mt-3">
                    <div class="col d-grid gap-2">
                      <button class="btn btn-primary" (click)="login()">Login</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
