<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <!-- Qr code -->
            <div class="card mt-4 w-50 p-4">
                <div class="card-body">
                    <h5 class="card-title text-center mb-4">Qr Code</h5>
                    <div class="row mb-3">
                        <div class="col mt-3 d-flex justify-content-center">
                            <qr-code [value]="'username:{{userDetails.username}}password:{{userDetails.password}}'"></qr-code>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-center" *ngIf="userDetails.username && userDetails.password">
                            Qr Code Value :username:{{userDetails.username}}password:{{userDetails.password}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>